@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --cor0:hsl(158, 36%, 37%);
    --cor1:hsl(30, 38%, 92%);
    --cor2:hsl(212, 21%, 14%);
    --cor3:hsl(228, 12%, 48%);
    --cor4:hsl(0, 0%, 100%);
    --Fonte-padrao: 'Montserrat', sans-serif;
    --Fonte-Detalhe: 'Fraunces', serif;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: var(--cor1);
    width: 1440px;
    margin: auto;
}
main  h1{
    font-size: 3em;
}
main img {
    height: 500px;
    border-radius: 10px 0px 0px 10px;
    
}

.container {
    
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;

}
.container div {
    position: relative;
    height: 500px;
    background-color: var(--cor4);
    padding: 0px 20px 00px 0px ;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);
    border-radius: 0px 10px 10px 0px;
    
    
    
}
.container div li {
    list-style: none;
}
.container div li .preco-desconto {
    color: var(--cor0);
}


button {
    background-color: var(--cor0);
    color: var(--cor4);
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
  
}